@use '../../style/mixins' as *;
@use '../../style/tools' as *;
@use '../../style/_variables' as *;

@include b(button) {
    // bem规范
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    outline: none;
    border: #fafafa;
    border-radius: 5px;
    user-select: none;
    min-height: 40px;
    line-height: 1;
    vertical-align: middle;
    padding: 0 20px;
    @include m(small) {
        padding: 0 20px;
    }
    @include m(middle) {
        padding: 0 20px;
    }
    @include m(large) {
        padding: 0 25px;
    }
    @include m(round) {
        border-radius: 20px;
    }
    @include m(primary) {
    }
    @include when(disabled) {
        &,
        &:hover,
        &:focus {
            cursor: not-allowed;
        }
    }
}