.container {
    width: 100%;
    height: fit-content;
    display: flex;
    .container-left {
        width: 200px;
        height: 100vh;
        overflow: hidden;
        background-color: #c5c2c2;
        border-radius: 0% 2% 2% 0%;
        padding: 10px 25px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;
        .menu-item {
            width: 150px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 5px;
            user-select: none;
            &:hover {
                opacity: 0.8;
            }
        }
        .active {
            background-color: #fd7e14;
            color: #000;
        }
    }
    .container-right {
        box-sizing: border-box;
        padding: 10px;
    }
}
