// 设置样式混合
@use './tools' as *;

/* 生成CSS变量对应的值 */
@mixin set-css-var-value($name, $value) {
    #{joinVarName($name)}: #{$value};
}

/* 为组件生成一组CSS变量 组件名 对应样式 */
@mixin set-component-css-var($name, $variables) {
    @each $attribute, $value in $variables {/* 样式属性名 属性值 */
        @if $attribute == 'default' {
            #{getCSSVarName($name)}: #{$value};
        } @else {
            #{getCSSVarName($name, $attribute)}: #{$value};
        }
    }
}

/* 颜色、背景色、边框颜色混合 */
@mixin color-bg-border-variant($color, $background-color, $border-color){
    color: $color;
    background-color: $background-color;
    border-color: $border-color;
}

/* 内联弹性布局混合 */
@mixin inline-flex(){
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0; /* 设置负行高抵消文本下沉的视觉偏差 */
}

/* 弹性布局混合 */
@mixin flex(){
    display: flex;
    align-items: center;
    justify-content: center;
}

