:root {
  --vp-c-brand-1: #42b883;
  --vp-c-brand-2: #249252;
  --vp-c-brand-3: #19633b;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #35495e -80%, #42b883);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #42b88380 30%, #35495e80);
  --vp-home-hero-image-filter: blur(30px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

html {
  font-size: 16px;
}

.VPNavBarTitle span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
